#img-bg{
    background-image: url('../../assets/fundo-entrar.gif');

    min-height: 657px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cor-bt{
        background-color: #FD7E14;
        border-color: #FD7E14;
}
    