/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
}
.fs-48{
    font-size: 48pt;
}
.fs-18{
    font-size: 15pt;
}
.cor-fundo{
    background-color:#fa9745;
}
